.listContainer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.sm {
  gap: 4px; /*  для маленькой карточки */
}

.md {
  gap: 12px; /*  для больших фильтров */
}
