.header {
  position: relative;
  width: 100%;
  background-color: #F9FAF7;
  padding: 16px 24px;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #253017;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: #253017;
  text-decoration: none;
  font-size: 16px;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 16px;
  color: #253017;
  cursor: pointer;
  padding: 12px 23px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.navButton:hover, .active {
  background-color: #FFF;
}

.arrow {
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  color: currentcolor;
}

.rotated {
  transform: rotate(180deg); 
}

.searchAndAuth {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchInput {
  padding: 12px;
  border: 1px;
  border-radius: 12px;
  outline: none;
}

.loginBtn {
  background: none;
  border: none;
  color: #69735D;
  cursor: pointer;
  font-size: 16px;
}

.registerBtn {
  background-color: #ABD27A;
  border: none;
  padding: 12px 23px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
