.labelContainer {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1.5px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.hiddenInput:checked ~ .customCheckbox {
  background-color: #94cd5c;
  border-color: #94cd5c;
}

.customCheckbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenInput:checked ~ .customCheckbox::after {
  display: block;
}

.customCheckbox.indeterminate {
  background-color: #94cd5c;
  border-color: #94cd5c;
}

.customCheckbox.indeterminate::after {
  content: '';
  position: absolute;
  display: block;
  left: 4px;
  top: 7px;
  width: 10px;
  height: 2px;
  background-color: white;
  border: none;
  transform: none;
}

.labelText {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1;
}
