.labelContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #1a1a1a;
  width: 100%;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1.5px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
  flex-shrink: 0;
  transition:
    border-color 0.2s,
    background-color 0.2s;
}

.hiddenInput:checked ~ .customCheckbox {
  border-color: #94cd5c;
  background-color: #94cd5c;
}

.customCheckbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenInput:checked ~ .customCheckbox::after {
  display: block;
}

.indeterminate {
  border-color: #94cd5c;
  background-color: #94cd5c;
}

.indeterminate::after {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.labelText {
  font-size: 14px;
  color: #1a1a1a;
}
